.header-wrapper {
    background: $background-color;
    padding: 1px 1px 0;
    position: sticky;
    top: 0;
}

.header {
    background: $background-color;
    display: flex;
    height: 75px;
    font-size: $font-size;
    border: 1px solid $dnd-highlight-color;
    margin: 0 0 5px;

    .actions-before,
    .actions-after,
    .active-time,
    .active-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .actions-before {
        flex: 1;

        button {
            font-size: $font-size;
            line-height: 0;
        }

        svg:not(.MuiSvgIcon-colorSecondary):hover {
            color: $header-hover-color;
        }
    }

    .actions-after {
        flex: 1;

        button {
            font-size: $font-size;
            line-height: 18px;
            padding: 4px 8px;
            font-weight: bold;
        }
    }

    .active-task {
        flex: 4;
        display: flex;
    }

    .active-time {
        flex: 1;
    }

    .active-description {
        flex: 3;
    }

    .add-new-task {
        display: flex;
        align-items: flex-end;

        &.disabled {
            > svg,
            > span {
                color: $color-disabled;
            }

            &:hover {
                > svg,
                > span {
                    color: $color-disabled;
                }
            }
        }

        &:hover {
            > svg,
            > span {
                cursor: pointer;
                color: $header-hover-color;
            }
        }

        > svg,
        > span {
            cursor: pointer;
            color: $color-blue-san-marino;
        }
    }

    .MuiButton-outlinedSecondary {
        color: $color-blue-san-marino;
        border-color: $color-blue-san-marino;

        &:hover {
            border-color: $color-blue-san-marino;
            background-color: rgba(17, 2, 249, 0.04);
        }
    }

    .MuiSvgIcon-colorSecondary {
        color: $color-blue-san-marino;
    }
}